.html{
    scroll-behavior:smooth;
}


.college{
    font-weight:bold;
    font-size:25px;
}

body{
    background-color:rgb(243, 243, 243);
}
.adv{
    background-color:rgb(86, 81, 81);
}

#fav{
    font-size:32px
}

.adv{
    Font-size:48px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:white;
    text-align:center;
}
.boom{
    text-align:center;
}

.football{
    text-align:center;
}

.ul{

    text-align:left;

    display: inline-block;

}

ol{

    text-align: left;

    display: inline-block;

}

.job1,
.job2,
.job3{
    font-style:italic;
    font-size: 20px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.post-title{
    font-size: 48px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.experience,
.education,
.skills{
    font-size: 32px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.school{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size:20px
}

.school{
    font-style:italic
}
.tex{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size:16px;
}

.date{
    font-size:14px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}